.selector-for-some-widget {
  box-sizing: content-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #262626;
  font-size: 16px;
}
//navigation
.navbar {
  background-color: rgba(255, 255, 255, 0.7);
}
nav li::before {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
li:hover:before {
  width: 100%;
  background: #ff6033;
}
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
}
ul {
  padding: 1%;
}
.logo {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}
//all container
.home,
.about,
.serivces,
.blog,
.contact {
  height: 100vh;
  .row {
    width: auto;
    height: 80vh;
  }
}
// home
.home {
  background-image: url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .col-sm-6,
  .col-md-6,
  .col-lg-7 {
    .container {
      height: 80%;
      width: 80%;
      h1 {
        font-size: 4em;
        margin-top: 20%;
        font-weight: 900;
      }
    }
    .text {
      margin-top: 7%;
      .btn {
        background-color: #ff6033;
        color: white;
        box-shadow: 0px 5px 10px -2px #000000bf;
      }
      .btn:hover {
        background-color: white;
        color: #ff6033;
      }
    }
  }
}

// about

.about {
  background-color: #00bcbc;
  .text-left {
    color: white;
    h1 {
      font-size: 4em;
      font-weight: 900;
    }
    p {
      color: white;
      font-size: 1.2em;
    }
  }
  .image-bg {
    background-image: url(../images/meal.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}
//serivces

.serivces {
  background-color: #70bfff;
  .container {
    .row {
      .buttons {
        margin: 0 auto;

        box-sizing: border-box;
        height: 100%;
        button {
          width: 62%;
          height: 14%;
          margin-top: 2%;
          font-size: 115%;
          img {
            width: auto;
            border-left: 1px solid #9d9d9d;
            float: right;
            width: 14%;
          }
        }
      }
    }
  }

  .image-tomato {
    background-image: url(../images/tomato.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    h1 {
      color: white;
      font-weight: 900;
      position: absolute;
      top: 50%;
    }
  }
}
//gallery
.gallery {
  background-color: #ffe92f;
  .col-xs-12,
  .col-md-8 {
    img {
      width: 100%;
      height: 100%;
      padding-bottom: 20px;
    }
  }
  .col-xs-12,
  .col-md-4 {
    img {
      width: 100%;
      height: 100%;
      padding-bottom: 20px;
    }
  }
  .col-xs-12,
  .col-md-6 {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .button-gallery {
    background-color: #5585a2;
    color: white;
    margin-bottom: 3%;
    font-size: 20px;
    box-shadow: 0px 5px 10px -2px #000000bf;
  }
  .button-gallery:hover {
    background-color: white;
    color: #5585a2;
  }
}

.subscribe {
  background-image: url(../images/blueberrys.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 80vh;

  .container {
    height: 80%;
    width: 80%;

    .row {
      height: 80%;

      .col-sm-12:nth-of-type(1),
      .col-md-12:nth-of-type(1),
      .col-lg-12:nth-of-type(1) {
        padding-top: 2%;
      }
      .col-sm-12:nth-of-type(2),
      .col-md-12:nth-of-type(2),
      .col-lg-12:nth-of-type(2) {
        input {
          margin-top: 5%;
          width: 50%;
          box-shadow: 0px 5px 10px -2px #000000bf;
          outline: none;
        }
        button {
          background-color: #96b92c;
          color: white;
          box-shadow: 0px 5px 10px -2px #000000bf;
        }
        button:hover {
          background-color: white;
          color: #96b92c;
        }
      }
    }
  }
}
// blog

.blog {
  background-color: #b07cf7;
  height: 100vh;
  h1 {
    color: white;
    font-weight: 900;
  }
  p {
    color: white;
  }

  .container:nth-of-type(1) {
    height: 20%;
  }
  .container:nth-of-type(2) {
    width: 100%;
    height: 50%;
    .p-5 {
      height: 95%;
      width: 32%;
      position: relative;
      .date {
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 10%;
        position: absolute;
        top: 5%;
        left: 10%;
        background-color: #00000080;
        div {
          color: white;
          font-weight: 900;
        }
      }
      .post-heading {
        color: white;
        font-weight: 900;
        position: absolute;
        bottom: 20%;
      }
      .post-author {
        color: white;
        position: absolute;
        bottom: 0;
      }
    }
    .p-5:first-child {
      background-image: url(../images/meal2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .p-5:nth-of-type(2) {
      background-image: url(../images/meal3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .p-5:last-child {
      background-image: url(../images/meal4.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  button {
    background-color: #f84855;
    color: white;
    box-shadow: 0px 5px 10px -2px #000000bf;
  }
  button:hover {
    background-color: white;
    color: #f84855;
  }
}
// contact
.contact {
  background-image: url(../images/footer_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 80vh;

  .container:nth-of-type(2) {
    height: 66%;
    .contact-heading {
      margin-left: 10%;
    }
    .p-5:first-child {
      height: 66%;
      form {
        height: 66%;
        input,
        textarea {
          display: block;
          width: 100%;
          border: 0;
          background-color: #00c4c499;
          margin-top: 15px;
          color: white;
        }
      }
    }
  }
}
//footer
footer {
  width: 100%;
  height: 50px;
  background-color: #303030;
  line-height: 50px;
  p {
    color: #b9b9b9;
    display: inline-block;
  }
}
//mixin

@media only screen and (max-width: 480px) {
  .about,
  .services,
  .contact,
  .home,
  .subscribe {
    height: 100vh;
    .row {
      height: 100vh;
    }
  }

  .blog {
    height: 100vh;

    .container:nth-of-type(1) {
      height: 21%;
    }
    .container:nth-of-type(2) {
      width: 100%;
      height: 70%;

      .p-5 {
        height: 30%;
        width: 55%;
        margin: 0;
      }
    }
    .container:nth-of-type(3) {
      height: 2%;
    }
  }
  .contact {
    height: 140vh;
  }
}

@media only screen and (min-width: 481px) and (max-width: 575px) {
  .blog {
    height: 180vh;

    .container:nth-of-type(1) {
      height: 17%;
    }
    .container:nth-of-type(2) {
      width: 100%;
      height: 79%;

      .p-5 {
        height: 30%;
        width: 55%;
        margin: 0;
      }
    }
    .container::nth-of-type(3) {
      height: 2%;
    }
  }
  .contact {
    height: 120vh;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about {
    .text-left {
      h1 {
        font-size: 3em;
      }
    }
  }
  .serivces {
    .container {
      .row {
        .buttons {
          padding-top: 20%;
          button {
            width: 99%;
            height: 18%;
          }
        }
      }
    }
    .image-tomato {
      h1 {
        top: 40%;
      }
    }
  }

  .blog {
    .container:nth-of-type(1) {
      height: 25%;
    }
    .container:nth-of-type(2) {
      width: 100%;
      height: 68%;

      .p-5 {
        height: 30%;
        width: 55%;
        margin: 0;
      }
    }
    .container:nth-of-type(3) {
      height: 2%;
    }
  }
  .contact {
    height: 103vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1224px) {
  .serivces {
    .container {
      .row {
        .buttons {
          padding-top: 20%;
          button {
            width: 99%;
            height: 18%;
          }
        }
      }
    }
    .image-tomato {
      h1 {
        top: 40%;
      }
    }
  }

  .blog {
    height: 100vh;
    .container:nth-of-type(1) {
      height: 20%;
    }
    .container:nth-of-type(2) {
      width: 100%;
      height: 50%;
      .p-5 {
        height: 70%;
        width: 32%;
      }
    }
  }
  .contact {
    height: 60vh;
  }
}
